<!DOCTYPE html>
<html lang="en">

<head>

    
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   

    <!-- My custom -->
    <link href="static/css/style.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Unica+One" rel="stylesheet">

    {% block head %}
    {% endblock %}

    <link rel="icon" href="/static/img/alien.ico">
    <title>{% block title %}Believe.{% endblock %}</title>

</head>



<body>

<!-- Uncomment below if you add flash messages -->
<!-- {% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %} -->

<!-- Uncomment below if you want to add nav bar -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/static/img/ufo.jpg">
      </a>
    </div>
  </div>
</nav> -->


{% block content %}
    
{% endblock %}

    
   
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    

</body>

<footer>
    Charley McLean - Hackbright Academy - 2016
</footer>

</html>


