{% extends 'base.html' %}

{% block head %}

    <style>
        body {
            background: url(/static/img/eclipse.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 800px;
            margin: auto;
        }
    </style>

{% endblock %}

{% block content %}

<div>
    <h1><a href="/events">Believe<span class="blinking-dot">.</span></a></h1>
</div>

<!-- Uncomment below to put animated circle on page. -->
<!-- <div class="animate-me"></div> -->

<!-- Nav to Events map -->
<!-- 
    <div class="row">

        <div class="col-sm-4">
            <div id="eventlink"><a href="/events">TRACKING UFOS</a></div>
        </div>
 -->

        <!-- Empty -->

       <!--  <div class="col-sm-8">

        </div>

    </div> -->

    <!-- Navigate to '/events' on click of the body -->
    <!-- <script>$("body").on('click', function(){
        window.location = "/events";    
    });
    </script> -->

{% endblock %}
