{% extends 'base.html' %}

{% block head %}

    <style>
        body {
            background: url(/static/img/ufo.gif);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 800px;
        }
    </style>

{% endblock %}

{% block content %}

<!-- Nav to Events map -->

    <div class="row">

        <div class="col-sm-4">
            <div id="eventlink"><a href="/events">TRACKING UFOS</a></div>
        </div>


        <!-- Empty -->

        <div class="col-sm-8">

        </div>

    </div>

{% endblock %}
