{% extends 'base.html' %}
{% block head %}

   <script src="/static/js/mapstyles.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDjVlrUThN-OeWXhCVPWN60vQRx4HZUqgk&libraries=visualization">
    </script>

    <!-- or -->
<!-- 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization">
    </script>
 -->
    <script src="/static/js/events.js"></script>

{% endblock %}


{% block content %}
    <div id="floating-panel">
      <button onclick="toggleHeatmap()" id="toggle-heatmap">Toggle UFO heatmap</button>
      <button onclick="changeGradient()" id="change-gradient">Change UFO gradient</button>
      <button onclick="changeRadius()" id="change-radius">Change UFO radius</button>
      <button onclick="changeOpacity()" id="change-opacity">Change UFO opacity</button>
      <button onclick="togglePopHeatmap()" id="toggle-pop-heatmap">Toggle population heatmap</button>
      <button onclick="changePopGradient()" id="change-pop-gradient">Change Population gradient</button>
      <button onclick="changePopRadius()" id="change-pop-radius">Change population radius</button>
      <button onclick="changePopOpacity()" id="change-pop-opacity">Change population opacity</button>
    </div>


    <div id="map"></div>
{% endblock %}
