{% extends 'base.html' %}
{% block head %}

   <script src="/static/js/mapstyles.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDjVlrUThN-OeWXhCVPWN60vQRx4HZUqgk&libraries=visualization">
    </script>


    <!-- or -->
<!-- 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization">
    </script>
 -->
    <script src="/static/js/events.js"></script>
    <!-- <script src="/static/js/newsletter.js"></script> -->
    <script src="/static/js/charts.js"></script>


{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div id="floating-panel" class="row">
            <div class="col-xs-12">
                <!-- Add button styling to make it look off -->
                <button id="toggle-heatmap">UFOs on/off</button>
                <button id="change-gradient">UFO gradient</button>
                <button id="change-radius">UFO radius</button>
                <button id="change-opacity">UFO opacity</button>

                <!-- Add button styling to make it look off -->
                <button id="toggle-pop-heatmap">Population on/off</button>
                <button id="change-pop-gradient">Population gradient</button>
                <button id="change-pop-radius">Population radius</button>
                <button id="change-pop-opacity">Population opacity</button>
            </div> <!-- end of column div -->
        </div> <!-- end of floating-panel div  -->

        <div class="row">
            <div id='map' class="col-xs-12"></div> <!-- end of map div -->
        </div> <!-- end of map row div -->

        <hr>

        <div class="row">
            <div class="col-xs-12 chart">
                <canvas id="donut-chart"></canvas>
            </div>    
        </div> <!-- end of donut chart row div -->

        <hr>
       
        <div class="row">
            <div class="col-xs-12" id="bar-chart-div">
                <canvas id="bar-chart"></canvas>
            </div>
        </div> <!-- end of bar chart row div -->

        <HR>

    </div> <!-- end of container-fluid div -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<!-- 
    <div id="signup">
        <h3>
            Are you interested in reports from this day in history? 
            Sign up for a daily email!
        </h3>

        <form action="#">

            <div>
                <label>Name
                    <input type="text" name="name" id="name">
                </label>
            </div>  --><!-- end of name input div -->

           <!--  <div>
                <label>Email
                    <input type="text" name="email" id="email">
                </label>
            </div>  --><!-- end of email input div -->

            <!-- <div>
                <label>Zipcode
                    <input type="number" name="email" id="zipcode">
                </label>
            </div>  --><!-- end of email input div -->

            <!-- <div>
                <input type='submit' value="Register" id="email-signup">
            </div>  --><!-- end of submit input div -->

        <!-- </form>  --><!-- end of signup form -->

   <!--  </div> --> <!-- end of signup div  -->

   <!--  <div id="status" hidden class="alert alert-info">
    </div>  --><!-- end of status div  -->


{% endblock %}
