{% extends 'base.html' %}
{% block head %}

   <script src="/static/js/mapstyles.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDjVlrUThN-OeWXhCVPWN60vQRx4HZUqgk&libraries=visualization">
    </script>

    <!-- or -->
<!-- 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization">
    </script>
 -->
    <script src="/static/js/events.js"></script>

{% endblock %}


{% block content %}
    <div id="floating-panel">
        <button id="toggle-heatmap">Toggle UFO</button>
        <button id="change-gradient">UFO gradient</button>
        <button id="change-radius">UFO radius</button>
        <button id="change-opacity">UFO opacity</button>
        
        <button id="toggle-pop-heatmap">Toggle population</button>
        <button id="change-pop-gradient">Population gradient</button>
        <button id="change-pop-radius">Population radius</button>
        <button id="change-pop-opacity">Population opacity</button>
    </div>


    <div id="map"></div>
{% endblock %}
